Listen <%= @port %>
<VirtualHost *:<%= @port %>>
  ServerSignature On
  SSLEngine on
  SSLProtocol ALL -SSLv2 -SSLv3
  SSLHonorCipherOrder On
  SSLCipherSuite <%= @sslciphersuite %>
  SSLCertificateFile <%= @ssl_cert %>
  SSLCertificateKeyFile <%= @ssl_key %>
  SSLCACertificatePath <%= @ca_dir %>
  SSLVerifyDepth 10
  SSLVerifyClient require
  SSLOptions           +StdEnvVars +FakeBasicAuth

<Directory />
  Options +FollowSymlinks
</Directory>

<IfModule mod_proxy_http.c>
  ProxyRequests Off
  ProxyPreserveHost On
</IfModule>

<% @sites.each do |site| -%>
<Location /<%= site %>>
  ErrorDocument 503 "<meta http-equiv='refresh' content='60'><h1>OMD: Site Not Started</h1>You need to start this site in order to access the web interface.<!-- IE shows its own short useless error message otherwise: placeholder                                                                                                                                                                                                                                                                                                                                                                                   -->"
  SSLRequireSSL
  AuthName             "check_mk : YOUR CERT IS UNKNOWN. Check with <%= @admin_mail %>"
  AuthType             Basic
  require              valid-user
  AuthUserFile         /omd/sites/<%= site %>/etc/htpasswd
</Location>
<% end -%>

</VirtualHost>
